# Byte-compiled / optimized / DLL files
__pycache__/
dataset.txt
results.txt
mapa_aps.txt
dataset.npy
generador.h5
results.npy
dataset_duration.npy
generador_duration.h5
results_duration.npy
results_taxis.npy
generador_taxis.h5
generador_experiment.h5
resultados_experiment.npy
